@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #eee;
}

/* css reuseable */
.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.title_page_h1 {
    font-weight: 400;
    font-size: 30px;
}

/* initial page */
.section_main .area_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_main .area_top .btn_add_task a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 7px 12px;
    font-size: 17px;
}

.section_main .area_tasks_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    gap: 10px;
    padding: 40px 0;
}

.section_main .area_tasks_list .card_task_item {
    position: relative;
    width: 290px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 10px;
}

.section_main .area_tasks_list .card_task_item .task_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.section_main .area_tasks_list .card_task_item .task_title .title h2 {
    width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-size: 20px;
    color: #333;
}

.section_main .area_tasks_list .card_task_item .task_title .btn_open_modal_actions {
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
}

.section_main .area_tasks_list .card_task_item .task_description p {
    width: 270px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    color: #333;
    margin-top: 10px;
}

.section_main .area_tasks_list .card_task_item .modal_card_task {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 99;
    width: 110px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.3);
}

.section_main .area_tasks_list .card_task_item .modal_card_task .modal_item a {
    display: block;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: .3s;
}

.section_main .area_tasks_list .card_task_item .modal_card_task .modal_item a:hover {
    background-color: #eee;
}

.section_main .area_no_results {
    width: 100%;
    padding-top: 40px;
}

.section_main .area_no_results span {
    display: block;
    text-align: left;
}

.section_main .area_no_results span a {
    text-decoration: none;
    color: dodgerblue;
}

/* css form page */
.section_form_task .area_title_page {
    width: 100%;
}

.section_form_task .area_title_page .btn_back a {
    width: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 17px;
    margin-bottom: 40px;
}

.section_form_task .area_form {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 15px;
    margin-top: 40px;
}

.section_form_task .area_form form .row_input input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
}

.section_form_task .area_form form .row_input_submit input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 7px 12px;
    margin-top: 10px;
}