@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

/* css reuseable */
.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_page_h1 {
    font-weight: 400;
    font-size: 30px;
}

.pending {
    background-color: #EB3B3B;
}

.done {
    background-color: #56E264;
}

/* Header */
header {
    width: 100%;
}

header .area_header {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}

header .area_header .btn_add_task a {
    text-decoration: none;
    color: #fff;
    background-color: #7B5CF9;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 7px 12px;
    font-size: 15px;
}

/* Initial page */
.section_main .area_filter {
    width: 100%;
    padding: 20px 0;
}

.section_main .area_filter select {
    border: 0;
    outline: 0;
    color: #333;
    font-size: 15px;
    cursor: pointer;
}

.section_main .area_tasks_list {
    width: 100%;
}

.section_main .area_tasks_list .card_task_item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    padding: 15px 10px;
    transition: .3s;
}

.section_main .area_tasks_list .card_task_item:hover {
    background-color: #eee;
}

.section_main .area_tasks_list .card_task_item .left_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section_main .area_tasks_list .card_task_item .left_side .title h2 {
    width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-size: 17px;
}

.section_main .area_tasks_list .card_task_item .middle {
    width: 210px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.section_main .area_tasks_list .card_task_item .middle .circle_status_task {
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.section_main .area_tasks_list .card_task_item .middle .text_status_task p {
    font-size: 17px;
}

.section_main .area_tasks_list .card_task_item .right_side {
    padding: 10px 0 10px 10px;
    font-size: 17px;
    cursor: pointer;
}

.section_main .area_tasks_list .card_task_item .modal_card_task {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 99;
    width: 110px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.section_main .area_tasks_list .card_task_item .modal_card_task .modal_item a {
    display: block;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: .3s;
}

.section_main .area_tasks_list .card_task_item .modal_card_task .modal_item a:hover {
    background-color: #eee;
}

.section_main .area_no_results {
    width: 100%;
    padding-top: 40px;
}

.section_main .area_no_results span {
    display: block;
    text-align: left;
}

.section_main .area_no_results span a {
    text-decoration: none;
    color: dodgerblue;
}

.section_main .area_no_results_filtered {
    display: none;
    width: 100%;
    padding-top: 20px;
}

/* css form page */
.section_form_task .area_title_page {
    width: 100%;
    padding-top: 30px;
}

.section_form_task .area_title_page .btn_back a {
    width: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #7B5CF9;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    border: 2px solid #7B5CF9;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 40px;
}

.section_form_task .area_form {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 40px 0;
}

.section_form_task .area_form form .row_input input[type="text"], 
.section_form_task .area_form form .row_input textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
}

.section_form_task .area_form form .row_input_submit input[type="submit"] {
    background-color: #7B5CF9;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 7px 12px;
    margin-top: 10px;
}

/* Medias */
@media (max-width: 768px) {
    header .area_header, .container {
        max-width: none;
        margin: 0 30px;
    }
}

@media (max-width: 570px) {
    .section_main .area_tasks_list .card_task_item .middle {
        display: none;
    }
}

@media (max-width: 425px) {
    .title_page_h1 {
        font-size: 25px;
    }
    .section_main .area_tasks_list .card_task_item .left_side .title h2 {
        font-size: 15px;
    }
    .section_form_task .area_form form .row_input input[type="text"] {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    header .area_header, .container {
        margin: 0 20px;
    }
    .section_main .area_tasks_list .card_task_item .left_side .title h2 {
        width: 170px;
    }
}